@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css");

* {
	font-family: "SUIT", sans-serif;
}

.mo-wrap {
	width: 100%;
	max-width: 500px;
	margin: 0px auto;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* 헤더 */
.header {
	border-bottom: 1px solid #eaeaea;
}

.header__inner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
}

.header__title > a {
	font-family: "Paperlogy";
	color: #54759a;
	font-weight: 700;
	font-size: 20px;
}

.header__share {
	font-size: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	border-radius: 50%;
}

.header__share > svg {
	width: 20px;
	height: 20px;
}
.header__share > svg > path {
	fill: #54759a;
}

/* 메인 */
/* 메인공용 */
.main-common-inner {
	padding: 30px;
	min-height: calc(100vh - 50px);
}

.common-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 16px;
	color: #fff;
	padding: 18px 20px;
	border-radius: 30px;
	background: linear-gradient(91deg, #89a9d0 1.24%, #54759a 100%);
}

/* 메인01 */
.main01__inner {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
}
.main01__inner > h1 {
	text-align: center;
	font-size: 2rem;
	font-weight: 800;
	line-height: 1.3;
	font-family: "Paperlogy";
	color: #54759a;
	word-break: keep-all;
}
.main01__inner > p {
	text-align: center;
	line-height: 1.5;
	word-break: keep-all;
}
